@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

.hero {
	background-image: url("/bg.png");
	background-size: cover;
	background-position: start;
	padding: 0px;
	height: 100vh;
}
@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}
}
